.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    margin-left: 7.5cm;
    text-shadow: 2px 2px 5px gray;
}

#signIn {
    width: 13.6cm;
}

#fbButton {
    width: 13.6cm;
}

.alert {
    padding: 8px;
    color: red;
    margin-bottom: 15px;
  }