<div *appHasRole="['Consumer']" class="container">
    <div *ngIf="member?.currentOrderId === 0" class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="">Place your order</h1>
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal" [formGroup]="placeOrderForm" (ngSubmit)="placeOrderForm.valid && placeOrder()" autocomplete="off"
                        method="post" action="#">
                        <mat-form-field id="selectProduct">
                            <div>
                                <mat-label>Product</mat-label>
                                <mat-select (selectionChange)="selected($event)" id="matSelect" formControlName="productName" name="productName">
                                    <ng-container *ngFor="let product of (products$ | async)" name="productName">
                                     <mat-option  [value]="product.name" name="fieldName" ngDefaultControl  [formControl]='placeOrderForm.controls["productName"]'>{{product.name}} {{product.price}} rsd</mat-option>
                                    </ng-container>
                                  </mat-select>
                            </div>
                        </mat-form-field>

                        <mat-form-field id="quantity">
                            <div id="quantity">
                                <mat-label>Quantity</mat-label>
                                <input min="1" max="10" type="number" [formControl]='placeOrderForm.controls["quantity"]' matInput>
                            </div>
                        </mat-form-field>
                                
                        <app-text-input [formControl]='placeOrderForm.controls["deliveryAddress"]' [label]='"Delivery Address"'>
                        </app-text-input>

                        <app-text-input [formControl]='placeOrderForm.controls["comment"]' [label]='"Comment"'>
                        </app-text-input>
                        
                        <div class="row" *ngIf="validationErrors.length > 0">
                            <ul class="text-danger">
                                <li *ngFor="let error of validationErrors">
                                    {{error}}
                                </li>
                            </ul>
                        </div>

                        <mat-form-field style="width: 5.5cm;">
                            <div id="totalPrice" style="margin-bottom: 0.3cm; display:inline-block;">
                                <mat-label >Total price:</mat-label> <br>
                                <mat-label style="color: red; font-size: small;"> (*250 rsd delivery costs included) </mat-label>
                                <input readonly type="number" [value]="this.placeOrderForm.value.quantity * this.price + this.delivery" matInput> 
                            </div>
                        </mat-form-field>
                    
                       
                        <div id="button" class="form-group">
                            <button [disabled]="!placeOrderForm.valid" type="submit"
                                class="btn btn-primary btn-lg btn-block place-order-button">Order now!</button>
                        </div>
                        <div id="routerlink">
                            <a routerLink="/dashboard">Go back to dashboard</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div *appHasRole="['Consumer']" class="container">
    <div *ngIf="member?.currentOrderId !== 0" class="row justify-content-left">
        <div *ngIf="order">
            <div *ngIf="order?.delivererId !== 1"  class="col-md-10">
                <h1 style="display: inline-block;"> Your order is accepted and deliverer is on it's way.</h1>
                <h2> Your current active order details:  </h2>
                <div>
                    <p>Id: {{order?.id}}</p>
                    <p>Consumer id: {{order?.consumerId}}</p>
                    <p>Deliverer id: {{order?.delivererId}}</p>
                    <p>Product id: {{order?.productId}}</p>
                    <p>Quantity: {{order?.quantity}}</p>
                    <p>Delivery address: {{order?.deliveryAddress}}</p>
                    <p>Comment: {{order?.comment}}</p>
                    <p>Total price: {{order?.price}}</p>
                    <p>
                        Your order will be delivered in:
                        <countdown #countdown style="font-weight: bold;"  [config]="{leftTime: deliveryTime, format: 'mm:ss', notify: 0}"></countdown> 
                    </p>
                </div>
                <div id="dash">
                    <a mar href="/dashboard">Back to dashboard</a>
                </div>
            </div>
            
            <div *ngIf="order?.delivererId === 1"  class="col-md-10">
                <h1 class="">Your order is ready.</h1>
                <h2> Wait until deliverer accepts your order </h2>
                <div id="dash">
                    <a mar href="/dashboard">Back to dashboard</a>
                </div>
            </div>
        </div>
        
    </div>
</div>