<div *appHasRole="['Admin']">
  <h1> All orders </h1>
  <table mat-table id="table" [dataSource]="orders"  class="mat-elevation-z8 orders-table">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td id="id" mat-cell *matCellDef="let order"> {{order.id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="consumerId">
        <th mat-header-cell *matHeaderCellDef> Consumer Id </th>
        <td id="consumerId" mat-cell *matCellDef="let order"> {{order.consumerId}} </td>
      </ng-container>
    
      <ng-container matColumnDef="delivererId">
          <th mat-header-cell *matHeaderCellDef> Deliverer Id </th>
          <td id="delivererId" mat-cell *matCellDef="let order"> {{order.delivererId}} </td>
        </ng-container>
    
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef> Product name </th>
        <td id="productName" mat-cell *matCellDef="let order"> {{order.productName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td id="quantity" mat-cell *matCellDef="let order"> {{order.quantity}} </td>
        </ng-container>
  
        <ng-container matColumnDef="deliveryAddress">
          <th mat-header-cell *matHeaderCellDef> Delivery address </th>
          <td id="deliveryAddress" mat-cell *matCellDef="let order"> {{order.deliveryAddress}} </td>
        </ng-container>
  
        <ng-container matColumnDef="comment">
          <th mat-header-cell *matHeaderCellDef> Comment </th>
          <td id="comment" mat-cell *matCellDef="let order"> {{order.comment}} </td>
        </ng-container>
  
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td id="price" mat-cell *matCellDef="let order"> {{order.price}} rsd </td>
        </ng-container>
  
        <ng-container matColumnDef="accepted">
          <th mat-header-cell *matHeaderCellDef> Accepted </th>
          <td id="accepted" [ngStyle]="{'color': order.accepted == 'True' ? 'green' : 'red'}" mat-cell *matCellDef="let order"> {{order.accepted}} </td>
        </ng-container>
  
        <ng-container matColumnDef="delivered">
          <th mat-header-cell *matHeaderCellDef> Delivered </th>
          <td [ngStyle]="{'color': order.delivered == 'True' ? 'green' : 'red'}" id="delivered" mat-cell *matCellDef="let order"> {{order.delivered}} </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
    
    <div id="dash">
      <a mar href="/dashboard">Back to dashboard</a>
    </div>
</div>

