<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="">Fill out the registration form</h1>
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal" (ngSubmit)="register()" autocomplete="off" method="post" action="#">
                        <!-- First name input -->
                        <!-- <div class="form-floating mb-3">
                            <input type="text" [(ngModel)]="model.firstName" class="form-control" name="firstName" id="floatingInputFirstName" placeholder="John">
                            <label for="floatingInput">First name</label>
                        </div> -->

                        <!-- Last name input -->
                        <!-- <div class="form-floating mb-3">
                            <input type="text" [(ngModel)]="model.lastName" class="form-control" name="lastName" id="floatingInputLastName" placeholder="Doe">
                            <label for="floatingInput">Last name</label>
                        </div> -->

                        <!-- Email input -->
                        <!-- <div class="form-floating mb-3">
                            <input type="text" [(ngModel)]="model.Email" class="form-control" name="email" id="floatingInputEmail" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div> -->

                        <!-- Username input -->
                        <div class="form-floating mb-3">
                            <input type="text" [(ngModel)]="model.username" class="form-control" name="username" id="floatingInputUsername" placeholder="someUsername123">
                            <label for="floatingInput">Username</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-floating mb-3">
                            <input type="password" [(ngModel)]="model.password" class="form-control" name="password" id="floatingInputPassword" placeholder="Password">
                            <label for="floatingInput">Password</label>
                        </div>

                        <!-- Confirm password input -->
                        <!-- <div class="form-floating mb-3">
                            <input type="password" [(ngModel)]="model.password" class="form-control" id="floatingInputConfirmPassword"
                                placeholder="Confirm password">
                            <label for="floatingInput">Confirm password</label>
                        </div> -->

                        <!-- Date of birth input -->
                        <!-- <div class="form-floating mb-3">
                            <input type="date" [(ngModel)]="model.dateOfBirth" class="form-control" id="floatingInputDateOfBirth" placeholder="15/11/1998">
                            <label for="floatingInput">Date of birth</label>
                        </div> -->

                        <!-- Adress input -->
                        <!-- <div class="form-floating mb-3">
                            <input type="text" [(ngModel)]="model.address" class="form-control" id="floatingInputAddress" placeholder="Some adress 99">
                            <label for="floatingInput">Address</label>
                        </div> -->

                        <!-- Add image -->
                        <!-- <form action="/action_page.php">
                            <label position- class="form-label" id="image"> Choose profile picture </label><br>
                            <input type="file" [(ngModel)]="model.image" id="myFile" name="filename"> <br><br>
                        </form> -->
                        

                        
                        <!-- User type radio buttons -->
                        <!-- <label position- class="form-label" id="labelRadioButtons"> User type </label><br>
                        <div class="form-check form-check-inline align-items-left">
                            <input class="form-check-input" [(ngModel)]="model.userType" type="radio" name="inlineRadioOptions" id="radioButtonConsumer"
                                value="option1" checked />
                            <label class="form-check-label" for="consumer"> Consumer </label>
                        </div>

                        <div class="form-check form-check-inline mb-3">
                            <br>
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radioButtonDeliverer"
                                value="option2" />
                            <label class="form-check-label" for="deliverer"> Deliverer </label>
                        </div> -->

                        <!-- <div class="form-check form-check-inline">
                            <br>
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radioButtonAdmin" value="option2" />
                            <label class="form-check-label" for="deliverer"> Admin </label>
                        </div>  -->

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block register-button">Register</button>
                            <!-- <button type="button" class="btn btn-secondary btn-lg btn-block register-button" (click)="cancel()">Cancel</button> -->
                        </div>

                        <div class="login-register">
                            <a routerLink="/" >Go back to home page</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>