.success {background-color: #04AA6D;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */
.other {background-color: #e7e7e7; color: black;} /* Gray */

#userTypeLabel {
    text-indent:3cm;
    margin-bottom: 10px;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 5cm;
    /* text-shadow: 2px 2px 5px gray; */
}

#floatingInput {
    width: 13.6cm;
}

#label {
    font-weight: 400;
    border-bottom: black 0.5px solid;
    text-align: left;
}
