<div style="margin-top: 100px; text-align: center;">
    <button mat-raised-button color="primary"> User profile </button>
</div>

<div *ngIf="member?.userType === 'Consumer'" style="margin-top: 50px; text-align: center;">
    <button mat-raised-button color="primary"> New/Current order </button>
</div>

<div *ngIf="member?.userType === 'Consumer'" style="margin-top: 50px; text-align: center;">
    <button mat-raised-button color="primary"> Previous orders </button>
</div>

<div *ngIf="member?.userType === 'Admin'" style="margin-top: 50px; text-align: center;">
    <button mat-raised-button color="primary"> Verification </button>
</div>

<div *ngIf="member?.userType === 'Deliverer'" style="margin-top: 50px; text-align: center;">
    <button mat-raised-button color="primary"> New orders </button>
</div>

<div *ngIf="member?.userType === 'Deliverer'" style="margin-top: 50px; text-align: center;">
    <button mat-raised-button color="primary"> My orders </button>
</div>

<div *ngIf="member?.userType === 'Deliverer'" style="margin-top: 50px; text-align: center;">
    <button mat-raised-button color="primary"> Current order </button>
</div>

<div *ngIf="member?.userType === 'Admin'" style="margin-top: 50px; text-align: center;">
    <button mat-raised-button color="primary"> All orders </button>
</div>

<div *ngIf="member?.userType === 'Admin'" style="margin-top: 50px; text-align: center;">
    <button mat-raised-button color="primary"> Add product </button>
</div>

<!-- <h1 *ngIf="member">{{member.username}</h1> -->