.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 15px;
    background-color: transparent;
}

.card-footer {
    padding: 10px 15px;
    background-color: transparent;
    border-top: none;
} 

/* #photo {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
} */

/* #photoEdit {
    width: 150;
} */

