
<div class="col-4">
    <h1>Update Your profile</h1>
</div>

<div class="row" *ngIf="member">
    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="{{member.username}}'s info">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
                    <h4>First name</h4>
                    <textarea class="form-control" [(ngModel)]="member.firstName" name="firstName" rows="1"></textarea>
                    <h4 class="mt-2">Last name</h4>
                    <textarea class="form-control" [(ngModel)]="member.lastName" name="lastName" rows="1"></textarea>
                    <h4 class="mt-2">Date of birth</h4>
                    <input class="form-control" type="date" id="dateOfBirth" [(ngModel)]="member.DateOfBirth" name="dateOfBirth">  
                    <h4 class="mt-2">Address</h4>
                    <textarea class="form-control" [(ngModel)]="member.address" name="address" rows="1"></textarea>
                    <!-- <h4 class="mt-2">Email</h4>
                    <textarea class="form-control" [(ngModel)]="member.email" name="email" rows="1"></textarea> -->
                    <h4 class="mt-2">Photo</h4>
                    <div id="photo" contentEditable="true">
                        <img widh="150" height="150" src="{{member.photoUrl}}"/>
                        <input  class="form-control" type="file" id="changePhoto" name="photoUrl" [(ngModel)]="member.photoUrl">
                    </div>
                </form>
            </tab>
            <button mat-raised-button style="margin-top:10px;" class="member-tabset" mt-3 [disabled]="!editForm.dirty" form="editForm" type="submit" color="primary">Save Changes</button>
            <div routerLink="/user-profile" style="margin-top: 10px; margin-bottom: 20px;  text-align: left;">
                <button mat-raised-button color="primary"> Go back to your profile </button>
            </div>
        </tabset>
    </div>
</div>
