<ngx-spinner type="line-scale-party" fullScreen="false">
    <h3>Loading...</h3>
</ngx-spinner>

<app-nav></app-nav>

<div  class="container">
    <router-outlet></router-outlet>
</div>

<!-- 
<link *ngIf="!isSignedin" (click)="facebookSignin()" rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<a id="fbButton" class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!" role="button">
    <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
</a>

<div *ngIf="!isSignedin">
    <button type="button" (click)="facebookSignin()" class="btn btn-primary btn-block">Login with Facebook</button>
</div>

<div *ngIf="isSignedin === true">
    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" [value]="user.firstName" id="firstname" readonly>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" [value]="user.lastName" id="lastname" readonly>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" [value]="user.email" id="email" readonly>
    </div>

    <button type="button" (click)="logOut()" class="btn btn-primary">Log Out</button>
</div> -->