<div routerLink="/user-profile" style="margin-top: 100px; text-align: center;">
    <button mat-raised-button color="primary"> User profile </button>
</div>

<div routerLink="/new-order" style="margin-top: 50px; text-align: center;">
    <button mat-raised-button color="primary"> New/Current order </button>
</div>

<div routerLink="/previous-orders"
    style="margin-top: 50px; text-align: center;">
    <button mat-raised-button color="primary"> Previous orders </button>
</div>


<div routerLink="/new-orders" style="margin-top: 50px; text-align: center;">
    <button mat-raised-button color="primary"> New orders </button>
</div>

<div routerLink="/my-orders" style="margin-top: 50px; text-align: center;">
    <button mat-raised-button color="primary"> My orders </button>
</div>

<div routerLink="/current-order" style="margin-top: 50px; text-align: center;">
    <button mat-raised-button color="primary"> Current order </button>
</div>