<div *appHasRole="['Admin']">
    <h1>Deliverers</h1>
    <div class="row">
        <div  *ngFor="let member of members$ | async" class="col-10">
            <div id="notVerified" *ngIf="member.verified == 'False' && member?.userType === 'Deliverer'">
                {{member.username}} is not verified
                <div style="float: center;">
                    <img src={{member.photoUrl}} width="150" height="150">
                </div>
                <button id="button1" style="float: left;" class="btn btn-success btn-lg" (click)="verify(member.username)">Verify</button>
                <button id="button2" style="float: center;" class="btn btn-danger btn-lg" (click)="decline(member.username)">Decline</button>
            </div>
    
            <div style="float: center;" id="verified" *ngIf="member.verified == 'True' && member?.userType === 'Deliverer'">
                {{member.username}} is verified
                <div style="float: center;">
                    <img src={{member.photoUrl}} width="150" height="150">
                </div>
            </div>
    
            <div style="float: center;" id="declined" *ngIf="member.verified == 'Declined' && member?.userType === 'Deliverer'">
                {{member.username}} Is declined
                <div style="float: center;">
                    <img src={{member.photoUrl}} width="150" height="150">
                </div>
            </div>
    
        </div>
    </div>
</div>
    




