#card {
     align-items: center;
}

#notVerified {
     font-size: large;
     font-weight: bold;
     color: black;
}

#verified {
     font-size: large;
     font-weight: bold;
     color: green;
}

#declined {
     font-size: large;
     font-weight: bold;
     color: red;
}