
    <div *appHasRole="['Admin']" routerLink="/user-profile" style="margin-top: 100px; text-align: center;">
        <button mat-raised-button color="primary"> User profile </button>
    </div>
    
     <div *appHasRole="['Consumer']" routerLink="/user-profile" style="margin-top: 100px; text-align: center;">
        <button mat-raised-button color="primary"> User profile </button>
    </div>
    
    <div *appHasRole="['Deliverer']" routerLink="/user-profile" style="margin-top: 100px; text-align: center;">
        <button mat-raised-button color="primary"> User profile </button>
    </div>
     
    <div *appHasRole="['Admin']" [routerLink]= "['/members']" style="margin-top: 50px; text-align: center;">
        <button mat-raised-button color="primary"> Member list </button>
    </div>
    
    <div *appHasRole="['Admin']" routerLink="/all-orders" style="margin-top: 50px; text-align: center;">
        <button mat-raised-button color="primary"> All orders </button>
    </div>
    
    <div *appHasRole="['Admin']" routerLink="/add-product" style="margin-top: 50px; text-align: center;">
        <button mat-raised-button color="primary"> Add product </button>
    </div>
    
    <div *appHasRole="['Admin']" routerLink="/verification" style="margin-top: 50px; text-align: center;">
        <button mat-raised-button color="primary"> Verification </button>
    </div>
    
    <div *appHasRole="['Consumer']" routerLink="/new-order" style="margin-top: 50px; text-align: center;">
        <button mat-raised-button color="primary"> New/Current order </button>
    </div>
    
    <div *appHasRole="['Consumer']" routerLink="/previous-orders"
        style="margin-top: 50px; text-align: center;">
        <button mat-raised-button color="primary"> Previous orders </button>
    </div>
    
    
    <div *appHasRole="['Deliverer']" routerLink="/new-orders" style="margin-top: 50px; text-align: center;">
        <button mat-raised-button color="primary"> New orders </button>
    </div>
    
    <div *appHasRole="['Deliverer']" routerLink="/my-orders" style="margin-top: 50px; text-align: center;">
        <button mat-raised-button color="primary"> My orders </button>
    </div>
    
    <div *appHasRole="['Deliverer']" routerLink="/current-order" style="margin-top: 50px; text-align: center;">
        <button mat-raised-button color="primary"> Current order </button>
    </div>


