.products-table {
width: 100%;
}

.mat-column-id {
width: 32px;
border-right: 1px solid currentColor;
padding-right: 24px;
text-align: center;
}

.mat-column-name {
padding-left: 16px;
font-size: 16px;
}

.mat-column-price {
font-style: italic;
}

#table {
    margin-bottom: 1cm;
}

#dash {
    margin-bottom: 1cm;
}

#cena {
    white-space: nowrap;
}