<div *appHasRole="['Deliverer']">
    <div style="font-weight: bold; white-space: pre-line" *ngIf="member?.verified === 'False'">
        Your verification process is not finished yet.  <br>
        Please follow the <a routerLink="/dashboard"> link </a> to go back to dashboard.
    </div>
</div>


<div *appHasRole="['Deliverer']">
    <div style="color: red; font-weight: bold; white-space: pre-line" *ngIf="member?.verified === 'Declined'">
        Your verification was declined <br>
        Please follow the <a routerLink="/dashboard"> link </a> to go back to dashboard.
    </div>
</div>

<div *appHasRole="['Deliverer']">
    <div *ngIf="member?.verified === 'True'">
        <div class="row justify-content-left" style="font-weight: bold; white-space: pre-line" *ngIf="member?.currentOrderId !== 0">
            <h1>Your current active order details:</h1>
            <div>
                <p>Order id: {{order?.id}}</p>
                <p>Consumer id: {{order?.consumerId}}</p>
                <p>Deliverer id: {{order?.delivererId}}</p>
                <p>Product id: {{order?.productId}}</p>
                <p>Quantity: {{order?.quantity}}</p>
                <p>Delivery address: {{order?.deliveryAddress}}</p>
                <p>Comment: {{order?.comment}}</p>
                <p>Total price: {{order?.price}}</p>
                <p>
                    You need to deliver your order in:
                    <countdown #countdown style="font-weight: bold;"  [config]="{leftTime: deliveryTime, format: 'mm:ss', notify: 0}"></countdown> 
                </p>
            </div>
        </div>
    </div>
    
</div>


<div *appHasRole="['Deliverer']">
    <div *ngIf="member?.verified === 'True'">
        <div class="row justify-content-left" style="font-weight: bold; white-space: pre-line" *ngIf="member?.currentOrderId === 0">
            <div>
                <h1> You currently dont have accepted order </h1>
                <p>
                    Go to the <a routerLink="/dashboard"> dashboard </a> or accept one of the <a routerLink="/new-orders"> new orders </a>.
                </p>
            </div>

        </div>
    </div>
</div>




